In [1]:
import pandas as pd

In [9]:
college = pd.read_csv('../DataSets/College.csv')

In [15]:
auto = pd.read_csv('../DataSets/Auto.csv')

In [10]:
college.head()

,School,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F_Undergrad,P_Undergrad,Outstate,Room_Board,Books,Personal,PhD,Terminal,S_F_Ratio,perc_alumni,Expend,Grad_Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [12]:
college[['Apps','Accept', 'Enroll', 'Top10perc']].describe()

               Apps        Accept       Enroll   Top10perc
count    777.000000    777.000000   777.000000  777.000000
mean    3001.638353   2018.804376   779.972973   27.558559
std     3870.201484   2451.113971   929.176190   17.640364
min       81.000000     72.000000    35.000000    1.000000
25%      776.000000    604.000000   242.000000   15.000000
50%     1558.000000   1110.000000   434.000000   23.000000
75%     3624.000000   2424.000000   902.000000   35.000000
max    48094.000000  26330.000000  6392.000000   96.000000

In [14]:
college[['Apps','Accept', 'Enroll', 'Top10perc']].describe().to_markdown()

'|       |     Apps |   Accept |   Enroll |   Top10perc |\n|:------|---------:|---------:|---------:|------------:|\n| count |   777    |   777    |  777     |    777      |\n| mean  |  3001.64 |  2018.8  |  779.973 |     27.5586 |\n| std   |  3870.2  |  2451.11 |  929.176 |     17.6404 |\n| min   |    81    |    72    |   35     |      1      |\n| 25%   |   776    |   604    |  242     |     15      |\n| 50%   |  1558    |  1110    |  434     |     23      |\n| 75%   |  3624    |  2424    |  902     |     35      |\n| max   | 48094    | 26330    | 6392     |     96      |'

In [16]:
auto[['mpg','cylinders','displacement','horsepower']].describe().to_markdown()

'|       |       mpg |   cylinders |   displacement |   horsepower |\n|:------|----------:|------------:|---------------:|-------------:|\n| count | 392       |   392       |        392     |     392      |\n| mean  |  23.4459  |     5.47194 |        194.412 |     104.469  |\n| std   |   7.80501 |     1.70578 |        104.644 |      38.4912 |\n| min   |   9       |     3       |         68     |      46      |\n| 25%   |  17       |     4       |        105     |      75      |\n| 50%   |  22.75    |     4       |        151     |      93.5    |\n| 75%   |  29       |     8       |        275.75  |     126      |\n| max   |  46.6     |     8       |        455     |     230      |'

In [17]:
ads = pd.read_csv('../DataSets/Advertising.csv')

In [18]:
ads.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [19]:
ads.describe().to_markdown()

'|       |   Unnamed: 0 |       TV |    Radio |   Newspaper |     Sales |\n|:------|-------------:|---------:|---------:|------------:|----------:|\n| count |     200      | 200      | 200      |    200      | 200       |\n| mean  |     100.5    | 147.042  |  23.264  |     30.554  |  14.0225  |\n| std   |      57.8792 |  85.8542 |  14.8468 |     21.7786 |   5.21746 |\n| min   |       1      |   0.7    |   0      |      0.3    |   1.6     |\n| 25%   |      50.75   |  74.375  |   9.975  |     12.75   |  10.375   |\n| 50%   |     100.5    | 149.75   |  22.9    |     25.75   |  12.9     |\n| 75%   |     150.25   | 218.825  |  36.525  |     45.1    |  17.4     |\n| max   |     200      | 296.4    |  49.6    |    114      |  27       |'